<div style="display: flex; justify-content: center; margin-top: 20px">
    <div style="width: 1280px; display: flex;">
        <div style="width: 60%; padding: 0 10px">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <h1 style="margin-bottom: 8px;">{{ application?.name }}</h1>
                    <p style="margin-bottom: 4px; font-weight: 300;" >5 Other player people are playing this game</p>
                    <div>
                        <img src="https://via.placeholder.com/80" class="player-avatar" *ngFor="let item of [0, 1, 2, 3, 4]">
                    </div>
                </div>
                <div>
                    <coders-join-application-button [applicationId]="applicationId" [applicationUsers]="applicationUsers"></coders-join-application-button>
                </div>
            </div>

            <div>
                <h3 style="margin: 4px 0;">Description</h3>
                <p>{{ application?.description }}</p>

                <div *ngIf="hasJoinedApplication">
                    <mat-divider style="margin: 8px 0"></mat-divider>

                    <h3 style="margin-bottom: 0;">Your obtained badges 4/10 (40%)</h3>
                    <mat-progress-bar mode="determinate" value="40" style="margin-bottom: 8px;"></mat-progress-bar>
                    <div>
                        <!-- Replace this image with the coders-badge component in the profile page branch -->
                        <img src="https://via.placeholder.com/80" class="badge" *ngFor="let item of [0, 1, 2, 3, 4]"> 
                    </div>
                </div>

                <mat-divider style="margin: 8px 0"></mat-divider>

                <h3 style="margin-bottom: 4px;">All available badges</h3>
                <div style="display: flex;">
                    <!-- Replace this image with the coders-badge component in the profile page branch -->
                    <!-- <img src="https://via.placeholder.com/80" class="badge" *ngFor="let badge of availableBadges">  -->
                    <coders-badge *ngFor="let badge of availableBadges" [tier]="badge.tier" [small]="true" [name]="badge.name"></coders-badge>
                </div>
                <p *ngIf="availableBadges.length === 0" style="font-weight: 300; font-style: italic;">There are no badges in this application :-(</p>
            </div>
        </div>
        <div style="width: 40%">
            <img src="https://via.placeholder.com/500" />
        </div>
    </div>
</div>