<div style="display: flex; justify-content: center; margin-top: 20px">
    <div style="width: 1280px; display: flex;">
        <div style="width: 60%; padding: 0 10px">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <h1 style="margin-bottom: 8px;">Code Heroes</h1>
                    <p style="margin-bottom: 0;">5 Other player people are playing this game</p>
                    <div>
                        <img src="https://via.placeholder.com/80" class="player-avatar" *ngFor="let item of [0, 1, 2, 3, 4]">
                    </div>
                </div>
                <div>
                    <button mat-raised-button color="primary">Join game</button> 
                </div>
            </div>

            <div>
                <h3 style="margin-bottom: 4px">Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni nemo quam, quas molestias reiciendis velit. Explicabo aliquid esse cum incidunt! Ipsam rem quis tenetur harum ut eaque maiores autem fugiat.</p>

                <h3 style="margin-bottom: 0;">Obtained badges 4/10 (40%)</h3>
                <mat-progress-bar mode="determinate" value="40" style="margin-bottom: 8px;"></mat-progress-bar>
                <div>
                    <!-- Replace this image with the coders-badge component in the profile page branch -->
                    <img src="https://via.placeholder.com/80" class="player-avatar" *ngFor="let item of [0, 1, 2, 3, 4]"> 
                </div>

                <h3 style="margin-bottom: 4px;">Available badges</h3>
                <div>
                    <!-- Replace this image with the coders-badge component in the profile page branch -->
                    <img src="https://via.placeholder.com/80" class="player-avatar" *ngFor="let item of [0, 1, 2, 3, 4]"> 
                </div>
            </div>
        </div>
        <div style="width: 40%">
            <img src="https://via.placeholder.com/500" />
        </div>
    </div>
</div>