.player-avatar {
    margin: 0 2px;
    border-radius: 50%;
    width: 35px;
    height: 35px;

    &:first-child {
        margin-left: 0;
    }
}

.badge {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    margin: 0 3px;

    &:first-child {
        margin-left: 0;
    }
}