<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="width: 1280px; display: flex;">

        <div style="width: 20%;">
            <img src="/assets/profile_avatar_placeholder.png" class="profile-picture">

            <h1 style="margin-bottom: 0;">John Doe</h1>
            <h3 style="margin-bottom: 0;">Developer</h3>

            <mat-divider style="margin: 8px 0;"></mat-divider>

            <p>Bla bla</p>

            
        </div>

        <div style="width: 80%; margin-left: 30px;">
            <div>
                <h2 style="margin-bottom: 8px;">Favorite badges</h2>
                
                <div class="favorite-badges">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                </div>
            </div>

            <mat-tab-group>
                <mat-tab label="Games">
                    
                    <div style="margin-top: 10px; padding: 10px;">
                        <mat-accordion>
                            <mat-expansion-panel >
                                <mat-expansion-panel-header style="height: 80px;">
                                    <mat-panel-title>
                                        <img src="https://via.placeholder.com/150" style="width: 100px;">
                                        Game 1
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>Game content</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    

                </mat-tab>

                <mat-tab label="Recent Activity">
                    Recent activity
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>