.profile-picture {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}


.stat {
    display: flex;

    .stat-text {
        text-align: center;
        line-height: 24px;
        margin-left: 6px;
    }
}