<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="width: 1280px; display: flex;">

        <div style="width: 20%;">
            <img src="/assets/profile_avatar_placeholder.png" class="profile-picture">

            <h1 style="margin-bottom: 0;">John Doe</h1>
            <h3 style="margin-bottom: 0;">Developer</h3>

            <mat-divider style="margin: 8px 0;"></mat-divider>

            <p>Bla bla</p>

            
        </div>

        <div style="width: 80%; margin-left: 30px;">
            <div>
                <h2 style="margin-bottom: 8px;">Favorite badges</h2>
                
                <div class="favorite-badges">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                    <img src="https://via.placeholder.com/150" class="badge-icon">
                </div>
            </div>

            <mat-tab-group>
                <mat-tab label="Games">
                    
                    <div style="margin-top: 10px; padding: 10px;">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header style="height: 104px;">
                                    <img src="https://via.placeholder.com/150" style="width: 80px;">

                                    <div style="margin: 0 10px; width: 100%; display: flex; justify-content: space-between; flex-direction: column;">
                                        <div style="display: flex; justify-content: space-between;">
                                            <h2 style="margin-bottom: 0;">Code Heroes</h2>

                                            <div class="application-badges-count">
                                                <div class="badge">
                                                    <mat-icon class="bronze" aria-hidden="false" aria-label="Bronze Badge Count">workspace_premium</mat-icon>
                                                    <span>5</span>
                                                </div>
                                                
                                                <div class="badge">
                                                    <mat-icon class="silver" aria-hidden="false" aria-label="Silver Badge Count">workspace_premium</mat-icon>
                                                    <span>10</span>
                                                </div>

                                                <div class="badge">
                                                    <mat-icon class="gold" aria-hidden="false" aria-label="Gold Badge Count">workspace_premium</mat-icon>
                                                    <span>15</span>
                                                </div>

                                                <div class="badge">
                                                    <mat-icon class="platinum" aria-hidden="false" aria-label="Platinum Badge Count">workspace_premium</mat-icon>
                                                    <span>20</span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        

                                        <div>
                                            <span style="font-weight: 300">10/25 Badges obtained</span>
                                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                        </div>
                                    </div>
                                    
                                </mat-expansion-panel-header>

                                <div>
                                    <p>Game content</p>
                                </div>
                                
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                </mat-tab>

                <mat-tab label="Recent Activity">
                    Recent activity
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>