<div style="display: flex; justify-content: center;">
    <div style="width: 1176px;">
        <h1 style="margin-left: 10px;">Applications</h1>

        <div style="display: flex; flex-wrap: wrap;">
            <mat-card *ngFor="let application of applications" style="width: 340px; margin: 10px;" >
                <h1 style="text-align: center">{{ application.name }}</h1>

                <div style="display: flex; justify-content: space-between; margin-top: 40px;">
                    <a mat-raised-button color="primary" [routerLink]="'/applications/' + application.id">Info</a>
                    <coders-join-application-button [applicationId]="application.id" [userApplications]="userApplications"></coders-join-application-button>
                </div>
            </mat-card>
        </div>
    </div>
</div>