<div style="display: flex; justify-content: center; height: 100vh; align-items: center; background-color: #001e4b;">

    <mat-card class="column-width">
        <img src="/assets/move4mobile.svg" alt="Move4Mobile" class="column-width">
        <h1 style="text-align: center;">Gamify</h1>

        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || loading">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>