<form [formGroup]="form" style="display: flex; flex-direction: column;" (ngSubmit)="onSubmit()">
    <h2 style="margin-top: 10px;">General Application Details</h2>

    <coders-message-box [message$]="errorMessage$" style="margin-bottom: 10px; display: block;"></coders-message-box>

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Very Cool Game" formControlName="name">
    </mat-form-field>
    
    <mat-form-field class="input-width" appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput placeholder="Very Cool Game" [value]="(application$ | async)?.applicationType" disabled>
    </mat-form-field>

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="How to play the game?" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>External application url</mat-label>
        <input matInput placeholder="https://mycoolgame.io" formControlName="externalApplicationUrl">
    </mat-form-field>

    <div style="margin-bottom: 10px;">
        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button style="margin-left: 10px;" routerLink="/admin/applications">Cancel</button>
    </div>
</form>