### CRM APP ###
NODE_ENV=development
PORT=5001

# Used by firebase admin
GOOGLE_APPLICATION_CREDENTIALS=./path/to/json

SOURCE_DOC_ID='<google_sheet_doc_id>'
GOOGLE_SERVICE_ACCOUNT_EMAIL="google_sheet_service_account_email"
GOOGLE_PRIVATE_KEY="google_sheet_service_account_private_key"
