<h1>Create Application</h1>

<form [formGroup]="form" style="display: flex; flex-direction: column;" (ngSubmit)="onSubmit()">

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Very Cool Game" formControlName="name">
    </mat-form-field>

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>Tier</mat-label>
        <mat-select formControlName="applicationType">
            <mat-option *ngFor="let type of applicationTypes" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="How to play the game?" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="input-width" appearance="fill">
        <mat-label>External application url</mat-label>
        <input matInput placeholder="https://mycoolgame.io" formControlName="externalApplicationUrl">
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" type="submit">Create</button>
        <button mat-raised-button style="margin-left: 10px;" routerLink="/admin/applications">Cancel</button>
    </div>
</form>