<div style="display: flex; justify-content: center">
    <div style="width: 1280px">
        <h1>People</h1>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> 
                    <div style="display: flex; align-items: center; height: 48px; margin: 8px 0;">
                        <img src="https://via.placeholder.com/50" style="height: 48px; width: 48px;" alt=""> 
                        <span style="margin-left: 8px;"> {{ element.firstname }} {{ element.lastname }} </span>
                    </div>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="stats">
                <th mat-header-cell *matHeaderCellDef> Badge Stats </th>
                <td mat-cell *matCellDef="let element">
                    <!-- TODO replace this with a component similar to the functionality on the profile page -->
                    1 bronze, 2 silver, 3 gold, 4 platinum 
                </td>
            </ng-container>
          
            <ng-container matColumnDef="favorite-badges">
                <th mat-header-cell *matHeaderCellDef> Favorite Badges </th>
                <td mat-cell *matCellDef="let element">
                    <div style="display: flex;">
                        <img src="https://via.placeholder.com/50" style="height: 48px; width: 48px;" alt="">
                        <img src="https://via.placeholder.com/50" style="height: 48px; width: 48px;" alt="">
                        <img src="https://via.placeholder.com/50" style="height: 48px; width: 48px;" alt="">
                    </div>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <a mat-raised-button color="primary" [routerLink]="'/users/' + element.id">View profile</a>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>